@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'Noto Sans KR', sans-serif; }

body { background-color: #F2F4F6; }

/* 스크롤바 스타일 */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: #F2F4F6; }
::-webkit-scrollbar-thumb { background: #D1D5DB; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #9CA3AF; }
